<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up · Lumosia</title>
</head>
<body>
<h1>Sign up for Lumosia ✨</h1>
<form th:action="@{/signup}" method="post">
    <input name="username" placeholder="username" required><br><br>
    <input name="email" type="email" placeholder="email" required><br><br>
    <input name="password" type="password" placeholder="password" required><br><br>
    <button type="submit">Create account</button>
</form>
<a th:href="@{/login}">Already have an account? Log in</a>
</body>
</html>